body{
    overflow-y:hidden;
}
html,body{
    height:100%;
}
ul.col-sm-3 {
    padding: 10px;
    margin: 0 0 0 0;
    width: 50px;
    height: 1024px;
    background-color: lightgrey;
}

ul.col-sm-3 li {
        margin: 0 0 0 -10px;
}

#sideBar {
    position:fixed;
    margin: -50px 0 0 0;
    width: 50px;
    height: 100%;
}
#navBar {
    display: none;
}
section{
    margin:-50px 0 0 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 740px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* SECTION PARALLAX 1*/
section.module.parallax img{
    height:370px;
}
section.module.parallax input{
    width:900px;
}
section.module.parallax button{
    width:280px;
}
section.module.parallax .container *{
    position:relative;
    padding-top:2px;
    margin: 13px 0 0 200px;
}
section.module.parallax-1 {
  background-color:rgb(52, 61, 76);
}
/* FIM SECTION PARALLAX 1*/
section.module.parallax-2 {
  background-color: rgb(25, 181, 254);
}
section.module.parallax-3 {
  background-color: rgb(38, 166, 91);
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}